.burger_ingredients {
  font-family: 'Jet Brains Mono';
  color: #f2f2f3;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.tab {
  width: 120px;
}

/* Стили для скроллбаров */
.content {
  overflow-y: scroll;
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: #8585AD #2F2F37; /* Для Firefox */
}

/* Для Chrome/Edge/Safari */
.content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.content::-webkit-scrollbar-track {
  background: #2F2F37;
  border-radius: 3px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 3px;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.categories {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
